{% extends "issues/base.html" %}

{% block content %}

<div id="page-content" class="index-page">
    <section id="services" class="box-content box-1">
        <div class="container">
            <div class="row header">
                <div class="col-lg-12">
                    <h3>Your repositories</h3>
                    <hr>
                </div>
            </div>

            {% if repository_list %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <ul>
                {% for repo in repository_list %}
                <li>
                    <div class="row">
                        <h3 class="blue">{{ repo.name }}</h3>
                        <a>Owner: {{ repo.owner_login }}</a>
                        <a>Issues count: {{repo.open_issues_count}}</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>You have no github repositories added yet.</p>
            <button type="submit" class="btn btn-2 "><a href="{% url 'issues:repositories_import' %}">Import repositories</a></button>
            {% endif %}
        </div>
    </section>
</div>
{% endblock %}